.light {
	font-family: $light !important;
}

.italic {
	font-family: $italic !important;
}

.regular {
	font-family: $regular !important;
}

.medium {
	font-family: $medium !important;
}

.semi {
	font-family: $semi !important;
}

.bold {
	font-family: $bold !important;
}

html {
	min-height: 100%;
	font-size: 10px;
	overflow: hidden;
	overflow-y: initial;
	&.flow {
		overflow: hidden !important;
	}
}

body {
	@include flex(null, null, column);
	position: relative;
	min-height: 100vh;
	background-color: $white;
	color: $black;
	font-size: 1.9rem;
	font-family: $regular;
	margin: 0;
	padding: 0;
	line-height: 1.6;
	word-break: break-word;
	@include trans();
	> main {
		flex: 1;
		padding-top: 90px;
		// overflow: hidden;
	}
	a {
		color: $black;
		word-break: break-word;
		text-decoration: none;
		@include trans();
		&:hover {
			color: $color;
		}
		&:focus,
		&:hover {
			outline: none !important;
			text-decoration: none !important;
		}
	}
	.ease,
	button {
		@include trans();
	}
}

::selection {
	background: $color;
	color: $white;
}

ul {
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		a {
			@include trans();
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $semi;
	line-height: 1.3;
	margin: 0 0 1.5rem;
}

p {
	color: $bluish_gray;
	margin: 0 0 2rem;
	> a {
		display: inline;
		color: $color;
		&:hover {
			color: #2115dc;
		}
	}
	&:nth-last-child(1) {
		margin: 0;
	}
}

.relative {
	position: relative;
}

.tableDv {
	display: table;
	width: 100%;
	height: 100%;
	.tableCell {
		display: table-cell;
		vertical-align: middle;
	}
}

.toggle {
	@include flex(center, center, null);
	display: none;
	position: absolute;
	top: 26px;
	right: 5px;
	cursor: pointer;
	padding: 10px;
	@include trans();
	z-index: 4;
	span,
	span:before,
	span:after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		height: 2px;
		background: $color;
		border-radius: 50px;
		@include trans();
	}
	span {
		position: relative;
		display: block;
		width: 20px;
		background: transparent;
		margin: 8px auto;
		&:before {
			top: -7px;
		}
		&:after {
			bottom: -7px;
		}
	}
	&.toggle.active {
		span {
			background: transparent !important;
			&:before {
				top: 0;
				transform: rotate(45deg);
			}
			&:after {
				bottom: 0;
				transform: rotate(-45deg);
			}
		}
	}
}

.heading {
	position: relative;
	font-family: $bold;
	margin-bottom: 4rem;
	padding-bottom: 4rem;
	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 6.4rem;
		height: 2.8rem;
		background-image: url("../images/leaf_line.svg");
		background-position: left center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	> em {
		color: $color;
	}
	&.active {
		color: $color;
	}
}

.subheading {
	margin-bottom: 3rem;
}

.color {
	color: $color !important;
}

.background {
	background: $color !important;
}

/*
|----------------------------------------------------------------------
|       Body Main Button
|----------------------------------------------------------------------
*/

.webBtn {
	@include flex(center, center, null);
	position: relative;
	display: inline-flex;
	// min-width: 120px;
	height: 6rem;
	background: $color;
	color: $white;
	text-align: center;
	padding: 0 3rem;
	white-space: nowrap;
	border: 0;
	border-radius: 6px;
	outline: none !important;
	// box-shadow: $shadow;
	@include trans();
	&:hover {
		color: $white;
	}
	&.smBtn {
		height: 4.8rem;
	}
	/*&.mdBtn {
		min-width: 80px;
		height: 4rem;
	}
	&.lgBtn {
		height: 6.4rem;
		font-size: 14px;
		padding: 0 40px;
	}*/
	&.blankBtn {
		background: transparent;
		color: $color;
		&:hover {
			background: $color;
			color: $white;
		}
		&.icoBtn:not(:hover) {
			> img {
				filter: none;
			}
		}
	}
	&.lightBtn {
		background: $white;
		color: $black;
		&:not(:hover) {
			box-shadow: none;
		}
		&:hover {
			background: $color;
			color: $black;
		}
	}
	&.labelBtn {
		min-width: initial;
		height: auto;
		background: transparent;
		color: $color;
		padding: 0;
		border: 0;
		box-shadow: none;
		> i {
			font-size: 100%;
		}
		&:hover {
			background: transparent;
			color: $black;
		}
	}
	&.simpleBtn {
		background: $white;
		color: $black;
		&:hover {
			background: $white;
			color: $color;
		}
		&.icoBtn {
			> img {
				filter: none;
			}
		}
		&.borderBtn:not(:hover) {
			border-color: $bluish_gray;
		}
	}
	&.borderBtn {
		border: 2px solid $color;
	}
	&.arrowBtn {
		display: flex !important;
		width: 46px;
		min-width: 46px;
		padding: 0 5px;
		> i {
			font-weight: bold;
			margin: 0 !important;
		}
		> img {
			width: 18px;
		}
	}
	&.icoBtn {
		> img {
			// width: 3.8rem;
			width: auto;
			height: 1.4rem;
			margin-left: 1rem;
			filter: brightness(0) invert(1);
		}
	}
	&.beforeBtn {
		> img {
			margin-left: 0;
			margin-right: 1rem;
		}
	}
	&.roundBtn {
		border-radius: 50px;
	}
	&.blockBtn {
		width: 100%;
		em {
			flex: 1;
			text-align: left;
		}
	}
	&.learnBtn {
		display: inline-flex !important;
		height: auto;
		background: transparent;
		color: $black;
		padding: 0;
		&:hover {
			color: $color;
			img {
				transform: translateX(1rem);
			}
		}
		> img {
			width: 2.2rem;
			margin-left: 1.2rem;
			transition: inherit;
		}
	}
	i {
		margin-right: 1rem;
	}
	i.fi-arrow-right,
	i.fi-arrow-left {
		font-size: 120%;
		font-weight: bold;
	}
	i.fi-arrow-right {
		margin-left: 10px;
		margin-right: 0;
	}
	i.fi-arrow-left {
		margin-left: 0;
		margin-right: 10px;
	}
	.spinner {
		width: auto;
		height: auto;
		background: inherit;
		border-radius: inherit;
		overflow: hidden;
	}
	.spinner ~ i {
		visibility: hidden;
	}
	.spinner,
	.spinner:before,
	.spinner:after {
		@include pseudo();
		@include flex(center, center, null);
		margin: auto;
		&:before,
		&:after {
			content: "";
			width: 18px;
			height: 18px;
			border: 3px solid;
			animation: spinner 0.5s linear infinite;
			border-radius: 75%;
		}
		&:before {
			border-right-color: transparent;
			border-bottom-color: transparent;
		}
		&:after {
			border-top-color: transparent;
			border-left-color: transparent;
			opacity: 0.5;
		}
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

*[disabled] {
	cursor: not-allowed !important;
}

a[disabled],
button[disabled] {
	opacity: 0.8;
}

.closeBtn {
	@include flex(center, center, null);
	width: 2rem;
	height: 2rem;
	color: $bluish_gray;
	font-size: 2rem;
	text-align: center;
	cursor: pointer;
	z-index: 5;
	&:before {
		content: "\2715";
		line-height: 1;
	}
}

/*
|----------------------------------------------------------------------
|       Body Inner Css
|----------------------------------------------------------------------
*/

h1 {
	font-size: 4.4rem;
}

h2 {
	font-size: 3.4rem;
}

h3 {
	font-size: 2.8rem;
}

h4 {
	font-size: 2.5rem;
}

h5 {
	font-size: 2.2rem;
}

h6 {
	font-size: 1.9rem;
}

img {
	width: 100%;
	display: block;
}

em {
	font-style: normal;
}

strong {
	font-family: $bold;
	font-weight: normal;
}

input,
button,
select,
textarea {
	text-decoration: none !important;
	outline: none !important;
}

.contain,
.contain-fluid {
	position: relative;
	max-width: 1380px;
	padding: 0 15px;
	margin: 0 auto;
	min-height: 1px;
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after,
	&:after {
		clear: both;
	}
}

.contain-fluid {
	max-width: 1920px;
}

section {
	position: relative;
}

.flex {
	@include flex(null, null, wrap);
}

.formRow {
	@include flex(null, null, wrap);
	display: flex;
	flex-wrap: wrap;
	margin: -3rem 0 0 -3rem;
	width: calc(100% + 3rem);
	> [class*="col-"],
	> [class^="col-"] {
		padding: 3rem 0 0 3rem;
	}
}

.flexBox {
	@include flex(center, center, null);
	.flexDv {
		width: 100%;
	}
}

.flexRow {
	margin: -2.5rem -15px;
	> .col {
		padding: 2.5rem 15px;
	}
}

.bTn {
	@include flex(null, null, wrap);
	gap: 2rem;
	&.formBtn {
		margin-top: 3rem;
	}
	&.text-left {
		justify-content: flex-start;
	}
	&.text-center {
		justify-content: center;
	}
	&.text-right {
		justify-content: flex-end;
	}
}

.text-left {
	.bTn {
		justify-content: flex-start;
	}
}

.text-center {
	.bTn {
		justify-content: center;
	}
}

.text-right {
	.bTn {
		justify-content: flex-end;
	}
}

/*
|----------------------------------------------------------------------
|       Popup
|----------------------------------------------------------------------
*/

.popup {
	@include fixed();
	display: none;
	background: rgba(25, 33, 37, 0.95);
	padding: 20px 0;
	overflow: auto;
	z-index: 101;
	._inner {
		position: relative;
		max-width: 600px;
		background: $white;
		padding: 20px;
		margin: auto;
		border-radius: 10px;
		box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
		._inner h3 {
			padding-right: 25px;
			margin-bottom: 20px;
		}
		._inner h4 {
			padding-right: 25px;
			margin-bottom: 15px;
		}
	}
	&.lg {
		._inner {
			max-width: 800px;
		}
	}
	&.sm {
		._inner {
			max-width: 420px;
		}
	}
	.list {
		> li {
			display: flex;
			margin-bottom: 10px;
			> div:nth-child(1) {
				width: 120px;
				min-width: 120px;
				font-family: $bold;
				margin-right: 10px;
			}
			> div:nth-child(2) {
				width: 100%;
				color: $bluish_gray;
			}
		}
	}
	.blockLst {
		margin: -15px;
	}
	hr {
		margin: 20px -20px;
	}
}

.popBtn {
	cursor: pointer;
}

.crosBtn {
	@include flex(center, center, null);
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 4rem;
	height: 4rem;
	color: $bluish_gray;
	font-size: 4rem;
	text-align: center;
	cursor: pointer;
	z-index: 5;
	&:before {
		content: "\2715";
		line-height: 1;
	}
}

/*
|----------------------------------------------------------------------
|       Dropdown
|----------------------------------------------------------------------
*/

.dropBtn {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	> i.chevron {
		@include bgImage(contain);
		display: inline-block;
		width: 10px;
		min-width: 10px;
		height: 10px;
		background-image: $chevron;
		margin: 0;
		margin-left: 5px;
		transition: inherit;
	}
}

.dropDown {
	position: relative;
}

.dropCnt {
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 160px;
	max-width: 260px;
	background: $white;
	margin-top: 10px;
	visibility: hidden;
	opacity: 0;
	border-radius: 7px;
	box-shadow: 0 7px 15px -5px rgba(12, 75, 62, 0.08), 0 -5px 10px -6px rgba(0, 0, 0, 0.03);
	@include trans();
	overflow: hidden;
	z-index: 2;
	&.right {
		left: initial;
		right: 0;
	}
	&.active {
		margin-top: 0;
		visibility: visible;
		opacity: 1;
	}
}

.dropLst {
	padding: 1rem 0;
	> li {
		display: block;
		> * {
			@include flex(center, null, null);
			width: 100%;
			background: $white;
			text-align: left;
			padding: 1rem 2.5rem;
			border: 0;
			&:hover {
				background: $light_white;
			}
			> i {
				margin-right: 6px;
			}
		}
	}
	&.select {
		left: 0;
		right: 0;
		width: 100%;
		max-width: initial;
		max-height: 240px;
		padding: 0;
		border: 1px solid $light_gray;
		box-shadow: $shadow;
		overflow: auto;
		> li:not(:nth-last-child(1)) {
			border-bottom: 1px solid $light_gray;
		}
		> li > button {
			color: $bluish_gray;
			padding: 10px 15px;
			> img {
				width: 36px;
				min-width: 36px;
				height: 36px;
				margin-right: 15px;
				object-fit: cover;
				border-radius: 6px;
				overflow: hidden;
			}
		}
		> li > button,
		> li > button > * {
			@include nowrap();
		}
	}
}

/*_____ more _____*/

.more {
	@include flex(center, center, null);
	position: relative;
	width: 20px;
	min-width: 20px;
	height: 20px;
	margin: 0 auto;
	cursor: pointer;
	@include trans();
	> span,
	> span:before,
	> span:after {
		width: 4px;
		height: 4px;
		border-radius: 75%;
		background: $bluish_gray;
		@include trans();
		z-index: 2;
	}
	> span {
		&:before,
		&:after {
			position: absolute;
			content: "";
		}
		&:before {
			left: 0;
		}
		&:after {
			right: 0;
		}
	}
	&:hover > span,
	&:hover > span:before,
	&:hover > span:after {
		background: $black;
	}
}

/*
|----------------------------------------------------------------------
|       Ico Css
|----------------------------------------------------------------------
*/

.ico,
.icon {
	@include flex(center, center, null);
	position: relative;
	text-align: center;
	a,
	img {
		@include object(contain);
	}
}

.ico {
	background: $white;
	border-radius: 75%;
	box-shadow: 0 10px 20px -5px rgba(50, 17, 33, 0.25), 0 -5px 10px -6px rgba(0, 0, 0, 0.03);
	img {
		object-fit: cover;
		border-radius: inherit;
	}
}

/*
|----------------------------------------------------------------------
|       RateYo
|----------------------------------------------------------------------
*/

.jq-ry-container {
	position: relative;
	display: block;
	cursor: pointer;
	box-sizing: content-box;
	line-height: 0;
	direction: ltr;
	&[readonly="readonly"] {
		cursor: default;
	}
	> .jq-ry-group-wrapper {
		position: relative;
		width: 100%;
		> .jq-ry-group {
			position: relative;
			line-height: 0;
			white-space: nowrap;
			z-index: 1;
			> svg {
				display: inline-block;
			}
		}
		> .jq-ry-group.jq-ry-normal-group {
			width: 100%;
		}
		> .jq-ry-group.jq-ry-rated-group {
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			overflow: hidden;
			z-index: 3;
		}
	}
}

/*
|----------------------------------------------------------------------
|       Editor
|----------------------------------------------------------------------
*/

.ckEditor {
	font-family: $regular, sans-serif, Arial, Verdana, "Trebuchet MS", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	.cke_editable {
		word-wrap: break-word;
	}
	blockquote {
		font-style: italic;
		font-family: Georgia, Times, "Times New Roman", serif;
		padding: 2px 0;
		border-style: solid;
		border-color: $gray;
		border-width: 0;
	}
	.cke_contents_ltr blockquote {
		padding-left: 20px;
		padding-right: 8px;
		border-left-width: 5px;
	}
	.cke_contents_rtl blockquote {
		padding-left: 8px;
		padding-right: 20px;
		border-right-width: 5px;
	}
	a {
		display: inline;
		color: #0782c1;
		> img {
			padding: 1px;
			margin: 1px;
			border: none;
			outline: 1px solid #0782c1;
		}
	}
	ol,
	ul,
	dl {
		*margin-right: 0;
		padding: 0 40px;
	}
	ul,
	ol {
		padding: 0;
		padding-left: 20px;
		margin: 0 0 10px;
		list-style-position: inside;
		> li,
		> li {
			display: list-item;
			margin-bottom: 5px;
			ul,
			ol {
				margin: 5px 0 7px;
			}
		}
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: normal;
		line-height: 1.2;
	}
	hr {
		border: 0;
		border-top: 1px solid $gray;
	}
	img.right {
		border: 1px solid $gray;
		float: right;
		margin-left: 15px;
		padding: 5px;
	}
	img.left {
		border: 1px solid $gray;
		float: left;
		margin-right: 15px;
		padding: 5px;
	}
	pre {
		white-space: pre-wrap; /* CSS 2.1 */
		word-wrap: break-word; /* IE7 */
		-moz-tab-size: 4;
		tab-size: 4;
	}
	.marker {
		background-color: Yellow;
	}
	span[lang] {
		font-style: italic;
	}
	figure {
		text-align: center;
		outline: solid 1px $gray;
		background: rgba(0, 0, 0, 0.05);
		padding: 10px;
		margin: 10px 20px;
		display: inline-block;
		> figcaption {
			text-align: center;
			display: block; /* For IE8 */
		}
	}
	.code-featured {
		border: 5px solid red;
	}
	.math-featured {
		padding: 20px;
		box-shadow: 0 0 2px rgba(200, 0, 0, 1);
		background-color: rgba(255, 0, 0, 0.05);
		margin: 10px;
	}
	.image-clean {
		border: 0;
		background: none;
		padding: 0;
		> figcaption {
			font-size: 0.9em;
			text-align: right;
		}
	}
	.image-grayscale {
		background-color: $white;
		color: #666;
	}
	.image-grayscale img,
	img.image-grayscale {
		filter: grayscale(100%);
	}
	.embed-240p {
		max-width: 426px;
		max-height: 240px;
		margin: 0 auto;
	}
	.embed-360p {
		max-width: 640px;
		max-height: 360px;
		margin: 0 auto;
	}
	.embed-480p {
		max-width: 854px;
		max-height: 480px;
		margin: 0 auto;
	}
	.embed-720p {
		max-width: 1280px;
		max-height: 720px;
		margin: 0 auto;
	}
	.embed-1080p {
		max-width: 1920px;
		max-height: 1080px;
		margin: 0 auto;
	}
	i,
	em {
		font-style: italic;
	}
	b,
	strong {
		font-weight: bold;
	}
	u {
		text-decoration: underline;
	}
	span {
		display: initial;
		text-decoration: inherit;
	}
}

.br {
	padding-bottom: 3rem;
}

/*_____ miniLbl _____*/

.miniLbl {
	@include flex(center, center, null);
	width: 2.2rem;
	height: 2.2rem;
	background: $color;
	color: $white;
	font-size: 70%;
	font-family: $bold;
	border-radius: 75%;
	white-space: nowrap;
}

.green {
	background: $green;
	&-color {
		color: $green;
	}
}

.yellow {
	background: $yellow;
	&-color {
		color: $yellow;
	}
}

.red {
	background: $red;
	&-color {
		color: $red;
	}
}

.blue {
	background: $blue;
	&-color {
		color: $blue;
	}
}

.gray {
	background: $gray;
	&-color {
		color: $gray;
	}
}

[index] {
	section {
		padding: 80px 0;
	}
}

/*
|----------------------------------------------------------------------
|       Form
|----------------------------------------------------------------------
*/

label {
	display: block;
	font-weight: normal;
	cursor: pointer;
	> a {
		color: #3c9cdb;
		&:hover {
			color: $color;
		}
	}
}

.txtGrp {
	position: relative;
	&:not(:nth-last-child(1)) {
		margin-bottom: 3rem;
	}
	label ~ .txtBox {
		padding: 2rem 2rem 0.6rem;
	}
	&:not(.lblBtn) {
		> label {
			position: absolute;
			top: 0;
			@include flex(center, null, null);
			min-height: 6rem;
			color: $bluish_gray;
			line-height: 1;
			margin: 0;
			margin-left: 2px;
			padding-left: 2rem;
			pointer-events: none;
			@include trans();
			z-index: 1;
			&.move {
				font-size: 1.4rem;
				transform: translateY(-1.4rem);
			}
		}
	}
	&.pasDv {
		position: relative;
		> .txtBox {
			padding-right: 6rem;
		}
		> i {
			@include flex(center, null, null);
			@include bgImage(contain);
			position: absolute;
			top: 0;
			bottom: 0;
			right: 2rem;
			width: 2.8rem;
			height: 100%;
			cursor: pointer;
			opacity: 0.7;
			filter: brightness(0.5) invert(0.4);
			&.icon-eye {
				background-image: url("../images/icon-eye.svg");
			}
			&.icon-eye-slash {
				background-image: url("../images/icon-eye-slash.svg");
			}
			&:hover {
				opacity: 1;
			}
		}
	}
}

.txtBox {
	display: block;
	width: 100%;
	height: 6rem;
	background: $white;
	text-align: left;
	padding: 0.6rem 2rem;
	border: 2px solid $bluish_gray;
	border-radius: 6px;
	outline: none !important;
	@include trans();
	&:-webkit-autofill {
		transition: background-color 5000s ease-in-out 0s;
	}
	@at-root {
		textarea#{&} {
			height: 18rem;
			resize: none;
		}
	}
	&:disabled {
		background: #e3e8ee;
		cursor: not-allowed;
		border-color: #d8dee6 !important;
	}
	&::placeholder {
		color: $bluish_gray;
	}
	&:focus::placeholder {
		opacity: 0.4;
	}
	&:hover,
	&:focus {
		border-color: $color;
	}
	@at-root {
		select#{&} {
			@include chevron();
			background-position: right 1.6rem center;
			padding-right: 5rem !important;
			-webkit-appearance: none;
			appearance: none;
		}
	}
}

.uploadImg {
	position: relative;
	cursor: pointer;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	&:not([data-upload]) {
		background: $white;
		color: $color;
		text-align: center;
		border-color: $color;
		box-shadow: inset 1px 1px 4px #fcfcfc;
	}
	&[data-upload] {
		@include flex(center, null, null);
		&:before {
			content: attr(data-text);
			flex: 1;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}
}

input {
	&[type="radio"],
	&[type="checkbox"] {
		position: relative;
		width: 2.2rem;
		min-width: 2.2rem;
		height: 2.2rem;
		margin-top: 0;
		appearance: initial;
		cursor: pointer;
		&:before,
		&:after {
			@include fixed();
			content: "";
			position: absolute;
		}
		&:before {
			background-position: center;
			background-repeat: no-repeat;
			background-size: 1.1rem;
			z-index: 1;
		}
		&:after {
			background: $light_gray;
			border: 2px solid $bluish_gray;
			border-radius: 6px;
			box-shadow: inset 1px 1px 4px #f2f3f7;
		}
	}
	&[type="checkbox"] {
		&:before,
		&:after {
			transition: all linear 0.3s;
		}
		&:checked:before {
			background-image: $tick;
		}
		&:checked:after {
			background: $color;
			border-color: $color;
			box-shadow: none;
		}
	}
	&[type="radio"] {
		&:after {
			border-radius: 75%;
		}
		&:checked:after {
			border-color: $color;
			box-shadow: inset 0 0 0 4px $color;
		}
	}
	&[type="file"].uploadFile {
		display: none;
	}
}

.lblBtn {
	display: flex;
	text-align: left;
	> input[type="radio"],
	> input[type="checkbox"] {
		margin-top: 0.3rem;
	}
	label {
		align-self: center;
		line-height: 1.5;
		cursor: pointer;
		margin: 0 0 0 1.4rem;
	}
}

/*
|----------------------------------------------------------------------
|       Info
|----------------------------------------------------------------------
*/

.infoHead {
	@include flex(null, space-between, null);
	margin-bottom: 10px;
	> *:not(.info) {
		margin: 0;
		margin-right: 10px;
	}
}

.info {
	position: relative;
	align-self: flex-start;
	color: $bluish_gray;
	line-height: 1;
	margin-left: auto;
	> strong {
		@include flex(center, null, null);
		font-size: 90%;
		font-family: $bold !important;
		cursor: pointer;
		&:after {
			@include bgImage(contain);
			content: "";
			display: block;
			width: 20px;
			min-width: 20px;
			height: 20px;
			background-image: $question;
			margin-left: 5px;
			filter: brightness(0) invert(0.6);
		}
	}
	.infoIn {
		position: absolute;
		top: 100%;
		right: 0;
		width: 240px;
		background: $white;
		padding: 20px;
		margin: 20px 0 0;
		line-height: 1.4;
		text-align: left;
		font-size: 90%;
		opacity: 0;
		visibility: hidden;
		border-radius: 6px;
		backdrop-filter: blur(10px);
		box-shadow: 0 15px 35px 0 rgba(49, 49, 93, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
		@include trans();
		z-index: 2;
	}
	&:hover .infoIn {
		margin-top: 7px;
		opacity: 1;
		visibility: visible;
	}
}

/*
|----------------------------------------------------------------------
|       Block
|----------------------------------------------------------------------
*/

.blk {
	@include block();
	&:not(:nth-last-child(1)) {
		margin-bottom: 3rem;
	}
	.blk {
		padding: 2rem;
	}
	._header,
	._footer {
		@include flex(center, null, null);
		position: relative;
	}
	._header {
		margin-bottom: 3rem;
		h3,
		h4,
		h5,
		h6 {
			margin-right: 30px;
			margin-bottom: 0;
			flex: 1;
			> span {
				color: $bluish_gray;
			}
		}
	}
}

/*
|----------------------------------------------------------------------
|       Scrollbar
|----------------------------------------------------------------------
*/

.scrollbar {
	&::-webkit-scrollbar-track {
		background: #f6f9fc;
		border-radius: 50px;
	}
	&::-webkit-scrollbar {
		width: 4px;
		height: 10px;
		background-color: #f6f9fc;
		border-radius: 50px;
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(11, 24, 31, 0.15);
		border-radius: 50px;
	}
}

/*
|----------------------------------------------------------------------
|       Formal - Common
|----------------------------------------------------------------------
*/

[formal] > section,
[common] > section {
	padding: 80px 0;
}

[formal] > section:nth-of-type(1) {
	padding-top: 25px;
}

#sBanner {
	min-height: 100px;
	background-color: $black;
	background-position: 0 80%;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 160px;
	margin-top: -80px;
	&:before {
		@include fixed();
		content: "";
		position: absolute;
		background: $black;
		opacity: 1;
		z-index: 1;
	}
	.contain {
		z-index: 3;
	}
	.content {
		max-width: 700px;
		color: $white;
		text-align: center;
		margin: 0 auto;
	}
	> h1 {
		text-shadow: 5px 5px 5px rgba(41, 41, 47, 0.2);
		margin-bottom: 0;
		& + * {
			margin-top: 3rem;
		}
	}
	> p {
		color: inherit;
		font-size: 2.4rem;
	}
	.txtGrp {
		color: $black;
		border-radius: 10px;
		box-shadow: $shadow;
		overflow: hidden;
		> img {
			position: absolute;
			top: 0;
			left: 16px;
			bottom: 0;
			width: 1.8rem;
			height: 1.8rem;
			margin: auto;
			filter: brightness(0) invert(0.5);
		}
		> .txtBox,
		> .webBtn {
			height: 7rem;
			box-shadow: none;
		}
		> .txtBox {
			padding-left: 6rem;
			border: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		> .webBtn {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

/*_____ topHead _____*/

.topHead {
	@include flex(center, space-between, null);
	margin-bottom: 3rem;
	> .miniBtn {
		@include flex(center, null, null);
		margin-left: auto;
		> em {
			color: $bluish_gray;
		}
		select {
			width: auto;
			max-width: 120px;
			height: auto;
			background-color: transparent;
			background-position: right;
			border: 0;
		}
	}
	> .tabLst,
	> .heading {
		margin: 0;
	}
}

/*
|----------------------------------------------------------------------
|       Tab List
|----------------------------------------------------------------------
*/

.tabLst {
	gap: 1rem 2rem;
	margin-bottom: 3rem;
	> li > a {
		display: block;
		background: $white;
		padding: 0.8rem 3rem;
		border: 2px solid $bluish_gray;
		border-radius: 6px;
		&:hover {
			background: $light_white;
		}
	}
	> li.active > a {
		background: $color;
		color: $white;
		border-color: $color;
	}
}

/*
|----------------------------------------------------------------------
|       Oops 404
|----------------------------------------------------------------------
*/

#oops {
	@include fixed();
	@include flex(center, center, null);
	padding: 60px 0;
	overflow: auto;
	.inner {
		max-width: 340px;
		margin: 0 auto;
	}
	.logoDv {
		position: absolute;
		top: 40px;
		left: 0;
		right: 0;
		width: 100px;
		margin: 0 auto 30px;
	}
	.icon {
		color: $color;
		font-size: 8rem;
		font-family: $bold;
		line-height: 0.8;
		margin-bottom: 25px;
	}
}

/*
|----------------------------------------------------------------------
|       Videos
|----------------------------------------------------------------------
*/

.vidBlk {
	@include bgImage(cover);
	position: relative;
	display: block;
	background-color: $white;
	padding-bottom: 56%;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: $shadow;
	overflow: hidden;
	&:before,
	&:after {
		content: "";
		@include pseudo();
		width: 14%;
		height: (14% * 100 / 56);
		min-width: 36px;
		max-width: 100px;
		margin: auto;
		transition: all linear 0.5s;
	}
	&:before {
		background: $white;
		opacity: 0.5;
		animation: ripple 1s linear infinite;
		border-radius: 50%;
	}
	&:after {
		background-image: url("../images/icon-play.svg");
		@include bgImage(contain);
	}
	video,
	iframe {
		@include fixed();
		@include object(fill);
		position: absolute;
		border: 0 !important;
		margin: auto;
	}
}

video[poster] {
	@include object(cover);
}

@keyframes ripple {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

/*
|----------------------------------------------------------------------
|       Switcher
|----------------------------------------------------------------------
*/

.switch {
	position: relative;
	width: 5rem;
	min-width: 5rem;
	height: 2.6rem;
	cursor: pointer;
	* {
		@include trans();
	}
	input[type="radio"],
	input[type="checkbox"] {
		position: absolute;
		top: 0 !important;
		left: 0 !important;
		margin: 0 !important;
		width: 100% !important;
		height: 100% !important;
		box-shadow: none !important;
		opacity: 0;
		z-index: 5;
		&:before,
		&:after {
			display: none;
		}
		&:checked + em:before {
			background: $white;
			transform: translateX(1.1rem);
		}
		&:checked + em:after {
			background: $color;
		}
	}
	> em,
	> em:before,
	> em:after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		background: transparent;
		padding: 0;
		z-index: 1;
	}
	> em {
		@include flex(center, null, null);
		border: none;
		&:before {
			content: "";
			width: 1.8rem;
			height: 1.8rem;
			background: $color;
			border-radius: 75%;
			transform: translateX(-1.1rem);
			transition: all linear 0.3s;
			z-index: 5;
		}
		&:after {
			content: "";
			background: $light_gray;
			border-radius: 50px;
			transition: all linear 0.3s;
		}
	}
}
