input[type="radio"].error,
input[type="checkbox"].error {
	border-color: red;
}
#create .uploader_blk{
	height:300px;
	overflow: auto;
}
#create .uploader_blk .imgLst {
	margin: -7px;
	padding: 0;
	list-style: none;
}

#create .uploader_blk .imgLst > li {
	width: 25%;
	cursor: move;
	padding: 7px;
}

#create .uploader_blk .imgLst .icon {
	padding-bottom: 100%;
	border: 1px solid rgb(0 0 0 / 5%);
	border-radius: 7px;
	overflow: hidden;
	width: 100%;
    max-width: 100%;
	margin:0
}

#create .uploader_blk .imgLst .icon img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


#create .uploader_blk.flex{
	display: flex !important;
}
#create .uploader_blk.flex .drag{
	width:64%
}
#create .uploader_blk .imgLst .cross_btn {
	top: 5px;
	right: 5px;
	background: #fff;
	font-size: 14px;
	border-radius: 75%;
	box-shadow: 0 5px 20px rgb(18 15 56 / 7%);
}
#create .uploader_blk .imgLst .cross_btn:before{
	color:#000
}
#create  .icoBlk{
	width: 220px;
	min-width: 220px;
	margin-right: 30px;
}

#create  .icoBlk .ico {
	padding-top: 100%;
	margin-bottom: 15px;
	border-radius: 7px;
}

#create  .icoBlk .ico img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.uploaded-area{
	max-height: 232px;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
	margin-top: 20px;
  }
  .uploaded-area.onprogress{
	max-height: 150px;
  }
  .uploaded-area::-webkit-scrollbar{
	width: 0px;
  }
  .uploaded-area .row .content{
	display: flex;
	align-items: center;
  }
  .uploaded-area .row .details{
	display: flex;
	margin-left: 15px;
	flex-direction: column;
  }
  .uploaded-area .row .details .size{
	color: #404040;
	font-size: 11px;
  }
  .uploaded-area i.fa-check{
	font-size: 16px;
  }
  .uploaded-area .bid-row a img{
	width: 20px;
    height: 20px;
  }
  
  #create .uploaded-area .content{
	margin-bottom: 0;
    font-size: 12px;
    margin-left: 5px;
  }
  .uploaded-area .bid-row a{
	display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .uploaded-area .bid-row {
    background: #E9F0FF;
    list-style: none;
    padding: 10px 5px;
    border-radius: 5px;
    /* justify-content: space-between; */
    width: calc(95%/3);
    margin: 10px 5px 0;
	position: relative;
	
	/* justify-content: space-between; */
  }
  .uploaded-area .cross_btn{
	width: 20px;
    height: 20px;
    top: -5px;
    font-size: 10px;
    right: -5px;
  }
  #detail .content strong{
	  color:#000
  }
  /*_____ site_btn spinner _____*/

.site_btn .spinner,
.spinner {
	width: auto;
	height: auto;
	background: inherit;
	border-radius: inherit;
	overflow: hidden;
}
.spinner {
	width: 60px;
	height: 60px;
	margin: 0 auto !important;
	position: relative !important;
}
.spinner:before,
.spinner:after {
	width: 60px !important;
	height: 60px !important;
}
.site_btn .spinner ~ i {
	visibility: hidden;
}

.site_btn .spinner,
.site_btn .spinner:before,
.site_btn .spinner:after {
	position: absolute !important;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: auto;
}

.site_btn .spinner:before,
.site_btn .spinner:after {
	content: "";
	width: 18px !important;
	height: 18px !important;
	border: 3px solid;
	-webkit-animation: spinner 0.5s linear infinite;
	animation: spinner 0.5s linear infinite;
	border-radius: 75%;
}

.site_btn .spinner:before,
.spinner:before {
	border-right-color: transparent;
	border-bottom-color: transparent;
}

.site_btn .spinner:after,
.spinner:after {
	border-top-color: transparent;
	border-left-color: transparent;
	opacity: 0.5;
}

.site_btn.smBtn .spinner:before,
.site_btn.smBtn .spinner:after {
	width: 14px;
	height: 14px;
}

.site_btn.lgBtn .spinner:before,
.site_btn.lgBtn .spinner:after {
	width: 20px;
	height: 20px;
}

@keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}
.cmn-alert {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 10px;
	border: 0;
	border-radius: 6px;
	-webkit-box-shadow: 1px 5px 24px 0 rgb(68 102 242 / 5%);
	box-shadow: 1px 5px 24px 0 rgb(68 102 242 / 5%);
}
.cmn-alert span {
	width: 24px;
	height: 24px;
	border-radius: 75%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #fff;
	font-size: 8px;
	-webkit-text-stroke: 2px;
	margin-right: 10px;
}
.cmn-alert em {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-ms-flex-item-align: center;
	align-self: center;
	color: #fff;
}

.danger-alert {
	background: #ff534b;
}
.danger-alert span {
	color: #ff534b;
}
.success-alert {
	background: #37bd00;
}
.success-alert span {
	color: #37bd00;
}
.info-alert {
	background: #2196f3;
}
.info-alert span {
	color: #2196f3;
}
.accept_reject .badge {
	margin-right: 10px;
}
.accept_reject .badge i {
	background: #fff;
	border-radius: 50px;

	font-size: 9px;
	padding: 5px;
	margin-right: 5px;
}
.accept_reject .badge.green i {
	color: #43b753;
}
.accept_reject .badge.red i {
	color: #ff5465;
}
.fi-cross{
	position: relative;
}
.fi-cross:before{
	content:"x";
	font-family: 'Courier New', Courier, monospace;
}
.uploadMaintenanceFile:before{
	display: none;
}
.popup .upload_blk .uploaded-area .bid-row{
	width:100%
}
.popup .upload_blk .uploaded-area .bid-row img{
	margin-right: 10px;
}
#card-element{
    border: 0.1rem solid #b0b0b0;
    padding: 18px 10px;
    border-radius: 1rem;
}
input.error {
	border-color: Red !important;
	
	border-style: solid;
	
	border-width: 1px;
	}
	
	textarea.error {
	border-color: Red !important;
	
	border-style: solid;
	
	border-width: 1px;
	}
	
	select.error {
	border-color: Red !important;
	
	border-style: solid;
	
	border-width: 1px;
	}
	
	label.error,.error {
	color: red;
	
	/* font-size: 11px; */
	}
	
	input[type="radio"].error:after,
	input[type="checkbox"].error:after {
	border-color: red;
	}
	.booking_payment{
		margin-bottom: 20px;
	}
	.booking_payment .inside_blk{
		padding-top: 2rem;
		
	}
	.booking_payment .inside_blk p strong{
		color:#000
	}
	#card-errors{
		color:red
	}