@media (max-width: 1600px) {
	html {
		font-size: 8px;
	}
}

@media (max-width: 1368px) {
	html {
		font-size: 8px;
	}
	.contain {
		max-width: 1200px;
	}
	[logon] {
		.socialBtn {
			flex-flow: wrap;
			button {
				min-width: initial;
			}
		}
	}
	[logon] {
		.contain {
			> div {
				padding: 8rem 5rem;
			}
		}
	}
	footer {
		p.small {
			font-size: inherit;
		}
	}
	input {
		&[type="checkbox"]:after {
			border-radius: 2px;
		}
	}
}

@media (max-width: 1024px) {
	#dash {
		.cardRow,
		.bnrRow,
		.flexRow {
			> .col {
				width: 100%;
			}
		}
	}
	#proj,
	#historical,
	#favorite {
		.flexRow {
			> .col {
				width: 100%;
			}
		}
	}
}

@media (max-width: 991px) {
	.toggle {
		@include flex(center, center, null);
	}
	[nav] {
		position: fixed;
		top: 90px;
		left: 0;
		right: 0;
		bottom: 0;
		@include flex(null, null, wrap);
		align-content: space-between;
		width: auto;
		background: $white;
		margin: 0;
		padding: 4rem 6rem;
		border-top: 2px solid $light_gray;
		opacity: 0;
		visibility: hidden;
		overflow: auto;
		z-index: 3;
		&.active {
			opacity: 1;
			visibility: visible;
		}
		> ul {
			width: 100%;
			flex-flow: wrap;
			margin: 0;
			> li {
				width: 100%;
				padding: 0;
				text-align: center;
				.webBtn {
					margin-top: 5px;
				}
				> .sub {
					position: static;
					display: none;
					width: 100%;
					max-height: none;
					background: transparent;
					visibility: visible;
					opacity: 1;
					text-align: center;
					padding: 0;
					margin: 0 auto !important;
					border: 0;
					border-radius: 0;
					transition: none;
					box-shadow: none;
					> li {
						> a {
							display: inline-flex;
						}
					}
				}
			}
		}
		> #cta {
			margin: auto 0 0;
		}
	}
	[logon] {
		border-bottom: 2px solid $light_gray;
		&::before {
			display: none;
		}
		.contain {
			@include flex(null, null, wrap);
			padding: 0;
			> div {
				width: 100%;
			}
			.lSide {
				background: linear-gradient(95.64deg, rgba($color2, 0.3) 9.21%, rgba($color, 0.3) 92.76%);
			}
			.rSide {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
	footer {
		.flexRow {
			@include flex(null, null, wrap);
			> .col {
				flex: none;
				width: 100%;
			}
		}
		.copyright {
			.inner {
				@include flex(center, center, column);
				text-align: center;
			}
			p {
				text-align: center;
				margin: 1rem 0 0;
			}
		}
		.smLst {
			justify-content: center;
		}
	}
	aside {
		width: 80px;
		padding: 0 15px;
		margin-right: 0;
		border-left: 0;
		&:after {
			content: "";
			@include pseudo();
			position: fixed;
			left: 100%;
			background: rgba($white, 0.9);
			backdrop-filter: blur(0.5rem);
			transition: inherit;
			z-index: -1;
		}
		> .logo {
			margin-left: -15px;
			transform: translateX(-100%);
			@include trans();
		}
		> .toggle {
			right: 20px;
		}
		.inside {
			padding-top: 0;
		}
		ul {
			> li {
				a {
					height: 6.8rem;
					padding: 0.5rem 2.3rem;
					> em {
						visibility: hidden;
						opacity: 0;
						text-overflow: ellipsis;
						white-space: nowrap;
						transition: inherit;
					}
				}
			}
		}
	}
	[dash] {
		padding-left: 80px;
	}
	#profile {
		.topBlk {
			flex-flow: wrap;
			.ico {
				margin: 0 0 3rem;
			}
		}
	}
	html.side {
		aside {
			width: 36rem;
			&:after {
				left: 36rem;
			}
			> .logo {
				margin-left: 0;
				transform: translateX(0);
			}
			> .toggle {
				right: 5px;
			}
			ul {
				> li {
					a {
						> em {
							visibility: visible;
							opacity: 1;
						}
					}
				}
			}
		}
	}
	[checkout] {
		#checkout {
			.flexRow {
				> .col {
					width: 100%;
				}
			}
		}
		.projItm {
			flex-flow: wrap;
			.fig {
				margin: 0 0 2rem;
			}
			.txt {
				width: 100%;
			}
		}
	}
}

@media (max-width: 767px) {
	.projBlk {
		flex-flow: wrap;
		.fig,
		.txt {
			width: 100%;
		}
		.fig {
			.image {
				position: relative;
				height: auto;
				> img {
					position: static;
					height: auto;
				}
			}
		}
		.txt {
			p {
				margin-bottom: 2rem;
			}
		}
	}
	[dash] {
		> section {
			padding: 15px;
		}
	}
	[congrats] {
		#congrats {
			padding: 10rem 0;
			.content {
				&:before {
					top: -10rem;
					left: -10rem;
				}
				&:after {
					right: -10rem;
					bottom: -10rem;
				}
			}
		}
	}
}

@media (max-width: 576px) {
	header {
		.proIco {
			.name {
				display: none;
			}
		}
	}
	#dash {
		.profBlk {
			flex-flow: wrap;
			margin-bottom: 2rem;
			h1 {
				font-size: 3.6rem;
				> span {
					display: block;
				}
			}
			.ico {
				margin: 0 auto 2rem;
			}
			.txt {
				width: 100%;
				text-align: center;
			}
		}
		.tileBlk {
			text-align: center;
			.top {
				align-items: center;
				flex-flow: column-reverse;
				.icon {
					margin: 0 auto 2rem;
				}
			}
			.btm {
				flex-flow: column;
			}
			.switchBtn {
				justify-content: center;
				margin-bottom: 1rem;
			}
		}
	}
	.projBlk {
		.txt {
			.btm {
				.inr {
					font-size: 1.5rem;
				}
			}
		}
		.prog {
			margin-bottom: 1.5rem;
		}
	}
	.tabLst {
		gap: 0.6rem 0;
		text-align: center;
		> li {
			width: 100%;
		}
	}
	#historical {
		.topHead {
			.price {
				margin-top: 2rem;
			}
		}
	}
	.topHead {
		flex-flow: column;
	}
	#profile {
		.topBlk {
			.ico {
				margin-left: auto;
				margin-right: auto;
			}
			.txt {
				text-align: center;
				.bTn {
					justify-content: center;
				}
			}
		}
		.switchBtn {
			padding: 0;
			border: 0;
			border-radius: 0;
			.switch {
				margin-top: 0.8rem;
			}
		}
	}
	.blk {
		padding: 2.5rem;
	}
	#historical {
		#price {
			position: static;
			text-align: center !important;
			margin-bottom: 2rem;
		}
	}
}

@media (max-width: 475px) {
}

@media (max-width: 375px) {
	#dash {
		.profBlk {
			h1 {
				font-size: 3.2rem;
			}
		}
	}
	[data-payment] {
		> .lblBtn {
			.icon {
				display: none;
			}
		}
	}
	[congrats] {
		#congrats {
			padding: 10rem 0;
			.content {
				&:before,
				&:after {
					width: 22rem;
					height: 28rem;
				}
				&:before {
					left: 0;
				}
				&:after {
					right: 0;
				}
			}
		}
	}
}

@media (max-width: 320px) {
}
