.load-more img {
	margin: 20px auto 0;
}

.buyer_credit_discount {
	background: rgba(0, 140, 255, 0.1);
	color: #008cff;
	font-weight: 500;
	padding: 0.8rem 2rem;
	margin: 0;
	text-align: center;
	border: 0.2rem dashed rgba(0, 140, 255, 0.25) !important;
	border-radius: 0.6rem;
}
