/*
|----------------------------------------------------------------------
|       Custom css write below
|----------------------------------------------------------------------
*/

#banner .content h1 {
	font-family: "Poppins Bold";
}
.footerDrop {
	/* float: right; */
	/* margin-top: -71px; */
	/*position: absolute;
    right: 24px;
    bottom: 8px;*/
}
.footerDrop h4 {
	/* color: #ddd; */
	font-size: 16px;
	/* font-family: 'regular'; */
	margin-bottom: 25px;
}
.footerDrop .dropBtn {
	padding: 3px 9px;
	/*float: left;*/
	background: #fff;
	border-radius: 4px;
	min-width: 155px;
	box-shadow: 0 0.6rem 2rem -0.3rem rgb(34 34 34 / 10%);
}
.footerDrop a {
	display: flex !important;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	color: #272727;
}
.footerDrop a:hover,
.footerDrop a:focus {
	color: #272727;
}
.footerDrop a img {
	width: 30px;
	padding-right: 5px;
}
.footerDrop .dropCnt li {
	display: block;
}
.footerDrop .dropCnt li a {
	padding: 3px 0px;
	border-bottom: 1px solid #f5f5f5;
}
.footerDrop .dropCnt li:last-child a {
	border-bottom: none;
}
.footerDrop .dropCnt li a:hover {
	/* opacity: 0.8; */
	color: #272727;
}
.footerDrop .dropCnt {
	background: #ffffff;
	min-width: 155px;
	top: 95px;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 0.6rem 2rem -0.3rem rgb(34 34 34 / 10%);
}
#card-element {
	border: 2px solid #b0b0b0;
	padding: 15px 10px;
	border-radius: 6px;
}
#verify:before {
	width: 100%;
}
#card-errors {
	color: red;
}
.toast-success {
	background-color: #00cba2 !important;
}
#verify #verifyEmail {
	margin: 0 auto;
}
/* footer .txtBox {
	height: 7.5rem;
} */
input.error {
	border-color: Red !important;

	border-style: solid;

	border-width: 1px;
}

textarea.error {
	border-color: Red !important;

	border-style: solid;

	border-width: 1px;
}

select.error {
	border-color: Red !important;

	border-style: solid;

	border-width: 1px;
}

label.error,
.error {
	color: red;

	/* font-size: 11px; */
}

input[type="radio"].error:after,
input[type="checkbox"].error:after {
	border-color: red;
}
/* .webBtn .spinner {
width: auto;
height: auto;
background: inherit;
border-radius: inherit;
overflow: hidden;
}

.webBtn .spinner ~ i {
visibility: hidden;
}

.webBtn .spinner,
.webBtn .spinner:before,
.webBtn .spinner:after {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
margin: auto;
}

.webBtn .spinner:before,
.webBtn .spinner:after {
content: "";
width: 18px;
height: 18px;
border: 3px solid;
-webkit-animation: spinner 0.5s linear infinite;
animation: spinner 0.5s linear infinite;
border-radius: 75%;
}

.webBtn .spinner:before {
border-right-color: transparent;
border-bottom-color: transparent;
}

.webBtn .spinner:after {
border-top-color: transparent;
border-left-color: transparent;
opacity: 0.5;
}

.webBtn.smBtn .spinner:before,
.webBtn.smBtn .spinner:after {
width: 14px;
height: 14px;
}

.webBtn.lgBtn .spinner:before,
.webBtn.lgBtn .spinner:after {
width: 20px;
height: 20px;
}

@-webkit-keyframes spinner {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}
}

@keyframes spinner {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}
} */
.appLoad {
	position: relative;
	min-height: 200px;
}

.appLoad .appLoader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	z-index: 3;
}

.appLoad .spiner {
	width: 40px;
	height: 40px;
	border: 4px solid #5aaad7;
	border-right: 4px solid #f0f5f9;
	border-radius: 75%;
	-webkit-animation: spin 0.5s linear infinite;
	animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}
.cmn-alert {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border: 0;
	border-radius: 6px;
	box-shadow: 1px 5px 24px 0 rgb(68 102 242 / 5%);
}
.cmn-alert span {
	width: 24px;
	height: 24px;
	border-radius: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	font-size: 8px;
	-webkit-text-stroke: 2px;
	margin-right: 10px;
}
.cmn-alert em {
	flex: 1;
	align-self: center;
	color: #fff;
}

.danger-alert {
	background: #ff534b;
}
.danger-alert span {
	color: #ff534b;
}
.success-alert {
	background: #37bd00;
}
.success-alert span {
	color: #37bd00;
}
.info-alert {
	background: #2196f3;
}
.info-alert span {
	color: #2196f3;
}
[logon] .socialBtn a {
	-webkit-box-flex: 1;
	-ms-flex: auto;
	flex: auto;
	min-width: 26rem;
}
[logon] .socialBtn a img {
	width: 2rem;
	min-width: 2rem;
	height: 2rem;
	-webkit-filter: none;
	filter: none;
}
.iti__country-list {
	display: flex;
	/*flex-wrap: wrap;*/
	flex-direction: column;
}
.iti__country-list li,
.txtGrp .iti {
	width: 100%;
}
#profile .topBlk .verify.verify_true:not(.checked) > img {
	filter: none !important;
}
.projBlk .historical_text .btm {
	margin-top: 0;
}
.projBlk .historical_text > span {
	margin-top: 10px;
	margin-bottom: 5px;
}
