/*
|----------------------------------------------------------------------
|       Header
|----------------------------------------------------------------------
*/

header {
	@include fixed();
	bottom: initial;
	height: 8rem;
	background: $white;
	box-shadow: 0 0.4rem 1rem -0.1rem rgba($black, 0.06);
	z-index: 30;
	.logo {
		float: left;
		@include flex(center, null, null);
		height: 8rem;
		@include ipad_sm {
			@include pseudo();
			float: none;
			margin: auto;
		}
		@include mobile_xx {
			width: 12rem;
		}
		> a {
			height: 100%;
			> img {
				display: block;
				width: auto;
				max-width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: left center;
				transition: inherit;
			}
		}
	}
	.toggle {
		@include ipad_sm {
			display: flex;
		}
	}
}

.logo {
	max-width: 16rem;
	> a {
		display: block;
	}
}

/*
|----------------------------------------------------------------------
|       Navigation
|----------------------------------------------------------------------
*/

nav {
	@include flex(center, flex-end, null);
	height: 8rem;
	margin-left: 16rem;
	@include ipad_sm {
		margin: 0;
	}
	#icon_btn {
		@include flex(center, null, null);
		@include list();
		margin: 0 -2rem;
		margin-left: 2rem;
		li {
			padding: 0 2rem;
			&#noti {
				img {
					animation: ring 4s 0.7s ease-in-out infinite;
				}
			}
			> a,
			> button {
				position: relative;
				display: flex !important;
				width: 2.2rem;
				height: 2.2rem;
				background: transparent;
				padding: 0;
				border: 0;
				> img {
					transition: inherit;
				}
				> span {
					position: absolute;
					top: -0.7rem;
					right: -0.5rem;
					@include flex(center, center, null);
					width: 1.6rem;
					height: 1.6rem;
					background: $color;
					color: $white;
					font-size: 60%;
					font-weight: 600;
					border-radius: 75%;
					white-space: nowrap;
				}
			}
		}
	}
	#pro_btn {
		@include flex(center, null, null);
		cursor: pointer;
		margin-left: 4rem;
		z-index: 5;
		@include mobile {
			margin-left: 2rem;
		}
		@include mobile_xs {
			margin-left: 1.5rem;
		}
		.pro_btn {
			@include flex(center, null, null);
		}
		.ico {
			width: 3.5rem;
			height: 3.5rem;
			&.icon {
				background: rgba($color, 0.1);
				border-radius: 0.6rem;
				box-shadow: none;
				> img {
					object-fit: contain;
				}
			}
		}
		.name {
			margin-right: 1rem;
			@include mobile_md {
				display: none;
			}
		}
		.drop_cnt {
			left: initial;
			right: 0;
			min-width: 18rem;
			max-height: calc(100vh - 8rem);
			overflow: auto;
		}
		.drop_lst {
			> li {
				&:nth-last-child(1) {
					> a {
						color: #ff4b4b;
					}
				}
			}
		}
	}
}

@keyframes ring {
	0% {
		transform: rotateZ(0);
	}
	1% {
		transform: rotateZ(30deg);
	}
	3% {
		transform: rotateZ(-28deg);
	}
	5% {
		transform: rotateZ(34deg);
	}
	7% {
		transform: rotateZ(-32deg);
	}
	9% {
		transform: rotateZ(30deg);
	}
	11% {
		transform: rotateZ(-28deg);
	}
	13% {
		transform: rotateZ(26deg);
	}
	15% {
		transform: rotateZ(-24deg);
	}
	17% {
		transform: rotateZ(22deg);
	}
	19% {
		transform: rotateZ(-20deg);
	}
	21% {
		transform: rotateZ(18deg);
	}
	23% {
		transform: rotateZ(-16deg);
	}
	25% {
		transform: rotateZ(14deg);
	}
	27% {
		transform: rotateZ(-12deg);
	}
	29% {
		transform: rotateZ(10deg);
	}
	31% {
		transform: rotateZ(-8deg);
	}
	33% {
		transform: rotateZ(6deg);
	}
	35% {
		transform: rotateZ(-4deg);
	}
	37% {
		transform: rotateZ(2deg);
	}
	39% {
		transform: rotateZ(-1deg);
	}
	41% {
		transform: rotateZ(1deg);
	}
	43% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(0);
	}
}

#nav {
	@include flex(null, flex-end, null);
	flex: 1;
	@include trans();
	@include ipad_sm {
		@include fixed();
		top: 8rem;
		@include flex(null, null, wrap);
		align-content: space-between;
		width: auto;
		background: $white;
		margin: 0;
		padding: 2rem 5rem;
		border-top: 0.2rem solid $light_gray;
		opacity: 0;
		visibility: hidden;
		overflow: auto;
		z-index: 3;
		&.active {
			opacity: 1;
			visibility: visible;
		}
	}
	> ul {
		@include flex(center, center, null);
		@include list();
		margin: 0 -2rem;
		@include ipad_sm {
			width: 100%;
			flex-flow: wrap;
			margin: 0;
		}
		> li {
			position: relative;
			padding: 0 2rem;
			@include ipad_sm {
				width: 100%;
				padding: 0;
				text-align: center;
				.site_btn {
					margin-top: 0.5rem;
				}
			}
			> a:not(.site_btn) {
				@include flex(center, center, null);
				display: inline-flex;
				height: 4rem;
				color: $black;
				text-align: center;
			}
			> a:not(.site_btn):hover,
			&.active > a:not(.site_btn) {
				color: $color;
			}
			> .sub {
				position: absolute;
				top: 100%;
				left: 2rem;
				width: 24rem;
				background: $white;
				text-align: left;
				padding: 1rem 0;
				margin-top: 1rem;
				visibility: hidden;
				opacity: 0;
				border-radius: 1rem;
				transition: none;
				box-shadow: $shadow;
				overflow: hidden;
				@include ipad_sm {
					position: static;
					display: none;
					width: 100%;
					max-height: none;
					background: transparent;
					visibility: visible;
					opacity: 1;
					text-align: center;
					padding: 0;
					margin: 0 auto !important;
					border: 0;
					border-radius: 0;
					transition: none;
					box-shadow: none;
				}
				> li {
					display: block;
					> a {
						display: block;
						color: $black;
						padding: 1rem 2.5rem;
						@include ipad_sm {
							display: inline-flex;
						}
						&:hover {
							color: $color;
						}
					}
				}
			}
			&:hover > .sub {
				visibility: visible;
				opacity: 1;
				margin-top: 0;
				transition: all 0.2s ease-out;
			}
			&.drop > a {
				position: relative;
				&:after {
					content: "";
					@include chev();
					width: 1rem;
					height: 1rem;
					margin-left: 0.6rem;
				}
			}
		}
	}
	> #cta {
		margin-left: 2rem;
		@include ipad_sm {
			margin: auto 0 0;
		}
		> li {
			.site_btn {
				height: 4.4rem;
			}
		}
	}
}

/*
|----------------------------------------------------------------------
|       Footer
|----------------------------------------------------------------------
*/

footer {
	position: relative;
	// background: $black;
	@include bgImage(cover);
	background-position: top center;
	color: $black;
	padding-top: 8rem;
	overflow: hidden;
	@include mobile {
		padding-top: 0;
	}
	.contain {
		z-index: 3;
	}
	.flex_row {
		@include flex(null, space-between, nowrap);
		margin: -1.5rem -4rem;
		@include ipad {
			@include flex(null, null, wrap);
		}
		> .col {
			flex: 1;
			padding: 1.5rem 4rem;
			&:nth-child(1) {
				flex: 2;
			}
			@include ipad {
				flex: none;
				width: 100%;
			}
		}
	}
	.logo {
		margin-bottom: 1.5rem;
	}
	a {
		color: inherit;
		&:hover {
			color: $color;
		}
	}
	h4 {
		position: relative;
		margin-bottom: 1.5rem;
		padding-bottom: 1.5rem;
		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 3rem;
			height: 0.2rem;
			background: $color;
		}
	}
	.lst {
		@include list();
		> li {
			display: block;
			&:not(:nth-last-child(1)) {
				margin-bottom: 1rem;
			}
		}
	}
	.smLst {
		@include list();
		margin: 0 -1rem;
		@include ipad_sm {
			justify-content: center;
		}
		> li {
			padding: 0 1.5rem;
		}
	}
	.social_links {
		margin-top: 2rem;
	}
	.playStore {
		@include flex(null, null, wrap);
		@include list();
		margin: 1.5rem -0.5rem -0.5rem;
		> li {
			padding: 0.5rem;
			> a {
				width: 100%;
				max-width: 16rem;
				border: 0.2rem solid rgba($white, 0.25);
				border-radius: 0.6rem;
				overflow: hidden;
			}
		}
	}
	.copyright {
		padding: 2.5rem 0;
		margin-top: 5rem;
		border-top: 0.1rem solid rgba($white, 0.1);
		@include mobile {
			margin-top: 0;
			border-top: 0;
		}
		.inner {
			@include flex(null, center, null);
			@include ipad_sm {
				@include flex(center, center, column);
				text-align: center;
			}
		}
		p {
			flex: 1;
			color: inherit;
			text-align: right;
			margin: 0;
			@include ipad_sm {
				text-align: center;
				margin: 0.5rem 0 0;
			}
			> a {
				color: $color;
				&:hover {
					color: $black;
				}
			}
		}
	}
}

.social_links {
	@include flex(null, null, wrap);
	@include list();
	gap: 0.5rem;
	li {
		a {
			@include flex(center, center, null);
			display: flex !important;
			width: 3.6rem;
			min-width: 3.6rem;
			height: 3.6rem;
			background: $color;
			padding: 1rem;
			border-radius: 75%;
			&:hover {
				background: $blackish;
			}
			img {
				filter: brightness(0) invert(1);
			}
		}
	}
}

[data-form="newsletter"] {
	margin-top: 2.5rem;
	.inside {
		@include flex(center, null, null);
	}
	.form_blk {
		flex: 1;
		margin-bottom: 0 !important;
		margin-right: 1rem;
		&::before,
		&::after {
			content: "";
			@include pseudo();
			border: 0.2rem solid $color;
			z-index: -1;
		}
		&::before {
			right: 6rem;
			border-right: 0;
			border-radius: 0.6rem 0 0 0.6rem;
		}
		&::after {
			left: 50%;
			border-left: 0;
			border-radius: 0 0.6rem 0.6rem 0;
			transform: skewX(-10deg);
		}
		.text_box {
			background: transparent;
			border-color: transparent;
		}
	}
	.btn_blk {
		position: relative;
		&::before,
		&::after {
			content: "";
			@include pseudo();
			background: $color;
			@include trans();
			z-index: -1;
		}
		&::before {
			right: 4rem;
			border-right: 0;
			border-radius: 0.6rem 0 0 0.6rem;
			transform: skewX(-10deg);
		}
		&::after {
			left: 50%;
			border-left: 0;
			border-radius: 0 0.6rem 0.6rem 0;
		}
		&:hover {
			&::before,
			&::after {
				background: $color * 1.1;
			}
		}
		.site_btn {
			background: transparent;
		}
	}
}

/*
|----------------------------------------------------------------------
|       Logon
|----------------------------------------------------------------------
*/

#logon {
	padding: 6rem 0;
	.flex_row {
		> .col {
			width: 50%;
			@include ipad_sm {
				width: 100%;
				&.col1 {
					display: none;
				}
			}
		}
	}
	.fancy_image {
		padding-bottom: 92%;
	}
	.or {
		position: relative;
		font-size: 1.2rem;
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		margin: 1.5rem 0;
		&:before,
		&:after {
			content: "";
			@include pseudo();
			height: 0.1rem;
			background: $bluish_gray;
			margin: auto;
			z-index: -1;
		}
		&:before {
			right: 50%;
			margin-right: 2rem;
		}
		&:after {
			left: 50%;
			margin-left: 2rem;
		}
	}
	.social_btn {
		@include flex(null, null, null);
		gap: 0.5rem 1rem;
		margin: 2rem 0;
		@include ipad {
			flex-flow: wrap;
		}
		button {
			flex: auto;
			min-width: 26rem;
			img {
				width: 2rem;
				min-width: 2rem;
				height: 2rem;
				filter: none;
			}
		}
		.gm_btn {
			background: $white;
			color: $black;
			border: 0.1rem solid $bluish_gray;
		}
		.fb_btn {
			background: #1877f2;
		}
	}
	.forgot {
		margin-top: 1rem;
		font-weight: 600;
	}
}

/*
|----------------------------------------------------------------------
|       Banner
|----------------------------------------------------------------------
*/

#banner {
	min-height: 54rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	// padding-top: 8rem * 2;
	// margin-top: -8rem;
	@include mobile {
		min-height: 4rem;
	}
	&:before {
		@include overlay($black, 0.4);
	}
	.contain {
		z-index: 3;
	}
	.content {
		max-width: 66rem;
		color: $white;
		margin: 0 auto;
		h1 {
			font-size: 5rem;
			margin-bottom: 0;
			text-shadow: 0.5rem 0.5rem 0.5rem rgba($black, 0.4);
			@include mobile_md {
				font-size: 4.2rem;
			}
			> span {
				font-weight: 100;
			}
		}
		p {
			color: $light_gray;
			font-size: 1.8rem;
			// padding: 0 12rem;
			text-shadow: 0.5rem 0.5rem 0.5rem rgba($black, 0.2);
		}
	}
}

[data-form="search"] {
	max-width: 70rem;
	margin: 4rem auto 0;
	> .inside {
		@include flex(center, null, null);
		background: $white;
		padding-left: 1rem;
		border-radius: 5rem;
		box-shadow: 0 1rem 4rem rgba($black, 0.4);
		overflow: hidden;
		> .form_blk {
			flex: 1;
			margin-bottom: 0;
			img {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 1rem;
				width: 2rem;
				height: 2rem;
				margin: auto;
				filter: brightness(0) invert(0.9);
				& + .text_box {
					padding-left: 3.6rem;
				}
			}
			> span {
				top: initial;
				bottom: 0;
				padding-left: 1.4rem;
			}
		}
		label,
		.text_box,
		.site_btn {
			border: 0;
			height: 6rem;
		}
		.site_btn {
			padding: 0 4rem;
			border-radius: 5rem 0 0 5rem;
		}
	}
}

/*
|----------------------------------------------------------------------
|       Partner
|----------------------------------------------------------------------
*/

#partner {
	background: $white;
	padding: 2rem 0;
	.lst {
		margin: -1.5rem;
		justify-content: center;
		> li {
			display: block;
			flex: 1;
			padding: 1.5rem;
			.icon {
				width: 14rem;
				height: 4rem;
				margin: auto;
				@include trans();
				&:hover {
					filter: brightness(1) invert(0) grayscale(1);
				}
			}
		}
	}
}

/*
|----------------------------------------------------------------------
|       Deals
|----------------------------------------------------------------------
*/

#deals {
	background-size: 0;
	padding-top: 8rem * 1.5;
	&:before {
		content: "";
		@include pseudo();
		top: 4rem;
		bottom: -4rem;
		background-image: inherit;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center right;
	}
	.flex_row {
		> .col {
			width: 50%;
			@include mobile_md {
				width: 100%;
			}
		}
		> .col1 {
			width: 30%;
			@include ipad_sm {
				width: 100%;
			}
		}
		> .col2 {
			width: 70%;
			@include ipad_sm {
				width: 100%;
			}
		}
	}
}

.small_blk {
	@include flex(null, null, null);
	@include block();
	> .icon {
		width: 6rem;
		min-width: 6rem;
		height: 6rem;
		margin-right: 2rem;
	}
}

/*
|----------------------------------------------------------------------
|       Intro
|----------------------------------------------------------------------
*/

#intro {
	padding-top: 0;
	.flex_row {
		align-items: center;
		> .col {
			width: 50%;
			@include ipad_sm {
				width: 100%;
			}
		}
	}
	.heading {
		> span {
			display: block;
		}
	}
}

.fancy_image {
	position: relative;
	padding-bottom: 100%;
	background-size: 0;
	&:before {
		content: "";
		@include pseudo();
		@include bgImage(100% 100%);
		background-image: inherit;
	}
	.fig {
		position: absolute;
		top: 6rem;
		left: 3rem;
		right: 6rem;
		bottom: 3rem;
		background: $white;
		border-radius: 3rem 10rem;
		box-shadow: $shadow;
		overflow: hidden;
	}
	img {
		height: 100%;
		object-fit: cover;
	}
}

/*
|----------------------------------------------------------------------
|       Listing
|----------------------------------------------------------------------
*/

#listing {
	padding: 0;
	.flex_row {
		@include ipad_sm {
			flex-flow: nowrap;
			margin-bottom: -3rem;
			overflow: auto;
		}
		> .col {
			width: 33.3334%;
			@include ipad_sm {
				width: auto;
				min-width: 35rem;
				padding-bottom: 3rem;
			}
		}
	}
}

/*
|----------------------------------------------------------------------
|       Works
|----------------------------------------------------------------------
*/

#works {
	background-size: 0;
	&:before {
		content: "";
		@include pseudo();
		top: -4rem;
		bottom: -4rem;
		background-image: inherit;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center right;
		z-index: -1;
	}
	&:after {
		content: "";
		@include pseudo();
		top: 10rem;
		background-image: url("../images/arrow_curve.svg");
		@include bgImage(contain);
		z-index: -1;
		@include ipad_sm {
			display: none;
		}
	}
	.contain {
		z-index: 3;
	}
	.content {
		max-width: 50rem;
		margin: 0 auto 5rem;
	}
	.flex_row {
		position: relative;
		margin: 0 -1.5rem;
		@include ipad_sm {
			padding: 2rem 0;
			margin: 0;
		}
		> .col {
			width: 33.3334%;
			padding: 0 1.5rem;
			@include ipad_sm {
				width: 100%;
				padding: 0;
				margin: -2rem 0;
			}
		}
	}
	.work_blk {
		position: relative;
		width: 30rem;
		height: 30rem;
		@include block();
		margin: 0 auto;
		border-radius: 75%;
		@include trans();
		&:hover {
			transform: translateY(-1rem);
			> .txt {
				border-color: $color;
			}
		}
		> .num {
			position: absolute;
			top: -1rem;
			right: -1rem;
			@include flex(center, center, null);
			width: 10rem;
			height: 10rem;
			background: $white;
			color: $color;
			font-size: 5rem;
			font-weight: 700;
			border-radius: 75%;
			transition: inherit;
			box-shadow: inherit;
			z-index: 2;
		}
		> .txt {
			position: relative;
			@include flex(center, center, column);
			width: 100%;
			height: 100%;
			padding: 2rem;
			border: 0.6rem solid $light_gray;
			border-radius: 75%;
			transition: inherit;
		}
	}
}

/*
|----------------------------------------------------------------------
|       Folio
|----------------------------------------------------------------------
*/

#folio {
	padding: 0;
	#owl-folio {
		position: relative;
		max-width: 80rem;
		margin: 0 auto;
		z-index: 1;
		@include ipad_sm {
			padding: 0 5rem;
		}
		&:before {
			content: "";
			position: absolute;
			top: 5rem;
			left: 0;
			right: 0;
			width: 24rem;
			height: 17rem;
			background-image: url("../images/comma.svg");
			@include bgImage(contain);
			margin: 0 auto;
			opacity: 0.07;
			z-index: -1;
		}
	}
	.folio_blk {
		p {
			font-size: 1.6rem;
			margin-bottom: 2.5rem;
		}
		.ico {
			width: 10rem;
			min-width: 10rem;
			height: 10rem;
			margin: 0 auto 1.5rem;
		}
		h4 {
			margin: 0;
			> span {
				display: block;
				font-size: 1.2rem;
				font-weight: 400;
				margin-top: 0.5rem;
			}
		}
	}
}

/*
|----------------------------------------------------------------------
|       Blog
|----------------------------------------------------------------------
*/

#posts {
	.flex_row {
		@include ipad_sm {
			flex-flow: nowrap;
			margin-bottom: -0.3rem;
			overflow: auto;
		}
		> .col {
			width: 33.3334%;
			@include ipad_sm {
				width: auto;
				padding-bottom: 3rem;
			}
		}
	}
	.post_blk {
		@include ipad_sm {
			min-width: 36rem;
		}
		@include mobile_sm {
			min-width: 32rem;
		}
	}
}

.post_blk {
	.image {
		position: relative;
		padding-bottom: 60%;
		border-radius: 1rem;
		box-shadow: $shadow;
		overflow: hidden;
		> a {
			@include pseudo();
		}
		img {
			@include pseudo();
			@include object(cover);
		}
	}
	.txt {
		padding-top: 2rem;
	}
	.date {
		color: $bluish_gray;
		font-weight: 500;
		margin-bottom: 0.5rem;
	}
}
